.cart-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.cart-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* Tarjetas de productos */
.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Añade más espacio entre los elementos */
}

.product-card .product-details {
  display: flex;
  align-items: center;
  gap: 15px; /* Añade más espacio entre la imagen y el texto */
  flex: 2; /* Da más espacio a la parte de la información */
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card .quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-card .quantity-control button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px; /* Tamaño del círculo */
  height: 35px;
  border-radius: 50%;
  background-color: #28a745; /* Verde para aumentar */
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.product-card .quantity-control button.decrease {
  background-color: #dc3545; /* Rojo para disminuir */
}

.product-card .quantity-control button:hover {
  opacity: 0.8;
}

.product-card .product-info {
  text-align: left;
}

.product-card .product-price {
  font-weight: bold;
  font-size: 16px;
}

.product-card .quantity-control span {
  font-size: 21px; /* Tamaño de la cantidad */
  text-align: center;
  width: 20px;
}

/* Botón de eliminar más pequeño */
.product-card .remove-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 1px; /* Reduce el tamaño del botón */
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px; /* Reduce el tamaño del texto */
}

.product-card .remove-btn:hover {
  background-color: #c9302c;
}

/* Total del carrito */
.cart-total {
  text-align: right;
  margin-top: 20px;
}

.cart-total div {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.cart-total div h3 {
  font-size: 22px;
}

.checkout-btn {
  background-color: #c21723;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.checkout-btn:hover {
  background-color: #b45a60;
}
