/* Estilo básico del panel de control */
.custom-control-panel {
    display: flex;
    height: 100vh;
  }
  
  .custom-sidebar {
    background-color: #343a40;
    width: 250px;
    padding: 20px;
    transition: width 0.3s ease;
    position: fixed; /* Fija la barra en el lado izquierdo */
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto; /* Añade scroll si el contenido es largo */
    z-index: 1000;
  }
  
  .custom-sidebar.closed {
    width: 70px;
  }
  
  .custom-nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Alinea las opciones hacia abajo */
  }
  
  .custom-nav-links li {
    margin: 10px 0;
  }
  
  .custom-nav-button {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #495057;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .custom-nav-button:hover {
    background-color: #212529;
  }
  
  .custom-toggle-button {
    background-color: #495057;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .custom-toggle-button:hover {
    background-color: #212529;
  }
  
  /* Ajustes de layout cuando la barra está cerrada */
  .custom-control-panel .custom-content {
    margin-left: 250px; /* Añade margen al contenido para que no quede debajo de la barra */
    padding: 20px; /* Aumenta el padding para el contenido */
  }
  
  .custom-control-panel .custom-sidebar.closed + .custom-content {
    margin-left: 70px; /* Ajusta el margen cuando la barra está cerrada */
  }
  